* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: raleway_f, serif;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #131317;
    --background: rgba(255, 255, 255, 0.75);
    --border-radius: calc(var(--index) * 0.75);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
	transition: rgba(0, 0, 0, 0) 0.4s ease-in-out;
}
:hover::-webkit-scrollbar-thumb {
    background-color: #fc0;
}

header {
    width: 100vw;
    position: fixed;
    z-index: 2;
}
.header-navigation {
    float: right;
    font-size: calc(var(--index) / 1.5);
    margin-right:  calc(var(--index) / 4);
    padding: calc(var(--index) / 5);
    background-color: var(--background);
    border-radius: var(--border-radius);
}
.header-navigation-authorization a {
    text-decoration: none;
    color: var(--text);
}
.header-navigation-authorization a:hover {
    text-decoration: underline;
}
.header-navigation-function a {
    text-decoration: none;
    display: inline-block;
}

.map-controls {
    position: absolute;
    right: 5px;
    top: 35vh;
}
.map-controls-zoom {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(var(--index) * 0.75);
}
.map-controls-zoom button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: calc(var(--index) * 1.75);
    color: #ffdc60;
    background-color: var(--background);
    border: none;
    padding: 0 calc(var(--index) * 0.5);
    border-radius: var(--border-radius);
}
.map-controls-zoom button:hover {
    background-color: white;
    color: #fc0;
}
.map-controls-locate button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: calc(var(--index) * 0.26);
    border-radius: var(--border-radius);
    border: none;
}
.map-controls-locate button:hover {
    background-color: white;
}

.main-info_box {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    display: none;
    width: calc(var(--index) * 15);
    overflow: hidden;
    font-size: calc(var(--index) * 0.75);
    color: var(--text);
}
.main-info_box-content {
    overflow: auto;
    max-height: 100%;
}
.main-info_box-address {
    font-size: calc(var(--index) * 0.75);
    background-color: var(--background);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
    padding: calc(var(--index) * 0.25) calc(var(--index) * 0.5);
    margin-top: calc(var(--index) * 0.25);
}
.main-info_box-event {
    margin-top: calc(var(--index) * 0.25);
    background-color: var(--background);
    backdrop-filter: blur(10px);
    border-radius: var(--border-radius);
}
.main-info_box-event-title {
    padding: calc(var(--index) * 0.25) calc(var(--index) * 0.5);
    overflow: hidden;
}
.main-info_box-event-title a {
    font-size: calc(var(--index) * 1);
    text-decoration: none;
    color: var(--text);
    cursor: pointer;
}
.main-info_box-event-title a:hover {
    text-decoration: underline;
}
.main-info_box-event-image {

}
.main-info_box-event-image img {
    width: 100%;
    max-height: calc(var(--index) * 10);
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: calc(var(--border-radius) / 2);
}
.main-info_box-event-description {
    padding: calc(var(--index) * 0.25) calc(var(--index) * 0.5);
}
.main-info_box-event-date {
    padding: calc(var(--index) * 0.25) calc(var(--index) * 0.5);
    display: inline-block;
    width: 100%;
}
.main-info_box-event-date p {
    float: right;
}

.close-button {
    z-index: 2;
    position: fixed;
    top: calc(var(--index) * 0.25);
    left: calc(var(--index) * 15);
}

.cluster-layout {
    background-color: #cc3300;
    border-radius: 50%;
    box-shadow: 0 0 3px black;
    border: 3px solid white;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

.cluster-number {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 10px;;
}

.svg-close {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
}
.svg-close:hover .d {
    fill: #fc0;
}
.svg-logout {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
}
.svg-logout:hover path {
    fill: #fc0;
}
.svg-profile {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
}
.svg-profile:hover path  {
    fill: #fc0;
}
.svg-favorite {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
}
.svg-favorite:hover {
    fill: #fc0;
}
.svg-create_event {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
}
.svg-create_event:hover {
    fill: #fc0;
}
.svg-location {
    width: calc(var(--index) * 1.5);
    height: calc(var(--index) * 1.5);
}
.svg-location:hover path{
    fill: #fc0;
}

@media (max-width: 1200px) {
    .header-navigation {
        font-size: calc(var(--index) * 1.25);
    }
}