<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="{% load static %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ Yandex_API }}&lang=ru_RU" type="text/javascript"></script>
    <script src="{% static 'users/js/create_event.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'users/css/create_event.css' %}" >
    <meta charset="UTF-8">
    <title>Новое событие</title>
</head>

<body>
    <header>
    </header>
    <main class="create_event-main">
        <div class="create_event-main-content">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="create_event-main-img-preview">
                    <div class="create_event-main-img">
                        <label class="create_event-main-img-label">
                            {{ form.image }}
                            <span>Выберите изображение</span>
                        </label>
                    </div>
                </div>
                <div class="create_event-main-title">
                    {{ form.title }}
                </div>
                <div class="create_event-main-org_info">
                    <div class="create_event-main-org_info-addr_date">
                        {{ form.address }}
                        {{ form.date }}
                    </div>
                    <div class="create_event-main-org_info-map">
                        <button id="toggle-map" type="button">Показать карту</button>
                        <div id="map" style="width: 100%; height: 30vh"></div>
                    </div>
                </div>
                <div class="create_event-main-description">
                    {{ form.description }}
                </div>
                <div class="create_event-main-btn_create">
                    <button type="submit">
                        Разместить
                    </button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
