* {
    padding: 0;
    margin: 0;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
    --background: #131317;
    --border-radius: calc(var(--index) * 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #fc0;
    border-radius: 20px;
	transition: background-color 0.4s ease-in-out;
}
:hover::-webkit-scrollbar-thumb {
    background-color: inherit;
}
.svg-date_clock {
    width: calc(var(--index) * 0.75);
    height: calc(var(--index) * 0.75);
    transform: translateY(15%);
}
.svg-address_place_mark {
    width: calc(var(--index) * 0.75);
    height: calc(var(--index) * 0.75);
    transform: translateY(15%);
}
.subscribe-button {
    font-size: calc(var(--index) * 0.75);
    border: 1px solid transparent;
	background: #ffdc60;
    cursor: pointer;
	color: var(--background);
	padding: calc(var(--index) * 0.2) calc(var(--index) * 0.4);
	border-radius: calc(var(--border-radius) / 2);
	transition: ease-in 0.03s;
}
.subscribe-button:hover {
	background: #fc0;
}
.subscribe-button:active {
	transform: scale(0.97);
}

html {
    min-width: 100%;
    min-height: 100%;
}
body {
	background-image: url(../img/background-event.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
}

.main {
    font-family: raleway_f, serif;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--index) * 0.75);
}
.main-content {
    display: flex;
    flex-direction: column;
    width: calc(var(--index) * 30);
    background-color: var(--background);
    border-radius: var(--border-radius);
}

.main-choice {
    display: flex;
    justify-content: space-evenly;
    margin: calc(var(--index) * 0.25) 0;
}
.main-choice_events, .main-choice_profiles{
    cursor: pointer;
}
.main-choice-selected {
    text-decoration: underline;
}
.main-favorite_profiles {
    border-radius: var(--border-radius);
    display: none;
    flex-direction: column;
    padding: 0 calc(var(--index) * 0.5);
    position: relative;
    overflow: auto;
}
.main-favorite_profiles-profiles {
    display: flex;
    flex-direction: column;
}
.main-favorite_profiles-profiles h1{
    font-size: calc(var(--index) * 1);
    margin-bottom: calc(var(--index) * 0.5);
}
.main-favorite_profiles-profiles-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--index) * 0.5);
}
.main-favorite_profiles-profiles-profile-info {
    display: flex;
    align-items: center;
}
.main-favorite_profiles-profiles-profile-info a {
    text-decoration: none;
    font-size: calc(var(--index) * 1.25);
    color: var(--text);
}
.main-favorite_profiles-profiles-profile-info a:hover {
    text-decoration: underline;
}
.main-favorite_profiles-profiles-profile-info-image {
    border: 2px solid var(--background);
    border-radius: calc(var(--index) * 2.75);
    width: calc(var(--index) * 2.75);
    height: calc(var(--index) * 2.75);
    overflow: hidden;
    margin-right: calc(var(--index) * 0.5);
}
.main-favorite_profiles-profiles-profile-info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.main-events {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--index) * 0.5);
}
.main-events h1{
    font-size: calc(var(--index) * 1);
    margin-top: calc(var(--index) * 0.25);
}
.main-events-event {
    margin: calc(var(--index) * 0.5) 0;
    width: 100%;
}
.main-events-event-image_sub {
    float: left;
    display: flex;
    flex-direction: column;
}
.main-events-event-image_sub-image {
    border: 1px solid var(--background);
    border-radius: calc(var(--border-radius) * 0.5);
    height: calc(var(--index) * 22.5 / 5);
    width: calc(var(--index) * 40 / 5);
    overflow: hidden;
    margin-bottom: calc(var(--index) * 0.25);
}
.main-events-event-image_sub-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.main-events-event-info {
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--index) * 0.25);
    overflow: hidden;
}
.main-events-event-info-title a {
    font-size: calc(var(--index) * 1);
    text-decoration: none;
    color: var(--text);
}
.main-events-event-info-title a:hover {
    text-decoration: underline;
}
.main-events-event-info__item {
    margin-top: calc(var(--index) * 0.15);
    overflow-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

