<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'map/css/event.css' %}">
    <title>{{ event.title }}</title>
</head>
<body>
    <header>
        <div class="event-header-nav">
            <a href="#">Назад</a>
            <a href="#">Профиль</a>
        </div>
    </header>
    <main>
        <div class="event-main">
            <div class="event-main-content">
                <div class="event-main-img" style="background-image: url({{ event.image }})"></div>
                <div class="event-main-title">
                    <h1>{{ event.title }}</h1>
                </div>
                {% if event.date or event.address %}
                    <div class="event-main-org_info">
                    {% if event.address %}
                        <p>{{ event.address }}</p>
                    {% endif %}
                    {% if event.date %}
                        <p>{{ event.date }}</p>
                    {% endif %}
                    </div>
                {% endif %}
                <div class="event-main-description">
                    {% if event.full_description %}
                        {{ event.full_description|safe }}
                    {% else %}
                        {{ event.description|safe }}
                    {% endif %}
                </div>
                <div class="event-main-btn_subscribe">
                    <button>
                        Подписаться
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>