<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'map/css/event.css' %}">
    <title>Event ID</title>
</head>
<body>
    <header>
        <div class="event-header-nav">
            <a href="#">Назад</a>
            <a href="#">Профиль</a>
        </div>
    </header>
    <main>
        <div class="event-main">
            <div class="event-main-content">
                <div class="event-main-img" style="background-image: url({% static "map/img/cat.png" %})"></div>
                <div class="event-main-title">
                    <h1>Название</h1>
                </div>
                <div class="event-main-org_info">
                    <p>Место</p>
                    <p>Дата</p>
                </div>
                <div class="event-main-description">
                    <p>
                        Обладают ли растения зрением? Как пахнет кофе для больного ковидом? Можно ли воссоздать почву Галилеи времён Христа и превратить мысли в музыку? Ответить на эти и другие необычные вопросы попробовали выпускники магистерской программы «Искусство и наука» в ИТМО.
                        Обладают ли растения зрением? Как пахнет кофе для больного ковидом? Можно ли воссоздать почву Галилеи времён Христа и превратить мысли в музыку? Ответить на эти и другие необычные вопросы попробовали выпускники магистерской программы «Искусство и наука» в ИТМО.
                        Обладают ли растения зрением? Как пахнет кофе для больного ковидом? Можно ли воссоздать почву Галилеи времён Христа и превратить мысли в музыку? Ответить на эти и другие необычные вопросы попробовали выпускники магистерской программы «Искусство и наука» в ИТМО.
                        Обладают ли растения зрением? Как пахнет кофе для больного ковидом? Можно ли воссоздать почву Галилеи времён Христа и превратить мысли в музыку? Ответить на эти и другие необычные вопросы попробовали выпускники магистерской программы «Искусство и наука» в ИТМО.
                        Обладают ли растения зрением? Как пахнет кофе для больного ковидом? Можно ли воссоздать почву Галилеи времён Христа и превратить мысли в музыку? Ответить на эти и другие необычные вопросы попробовали выпускники магистерской программы «Искусство и наука» в ИТМО.
                    </p>
                </div>
                <div class="event-main-btn_subscribe">
                    <button>
                        Подписаться
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>